* {
    margin: 0;
    padding: 0;
    box-sizing: border-sizing;
    max-width: 100%;
}

form {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    gap: 10px 20px;
    margin: 40px ;
}

label {
    grid-column-start: 1;
    grid-column-end: 2; 
    text-align: right;
}

input, select, .boxes {
    grid-column-start: 2;
    grid-column-end: 3;
}

.error {
    grid-column-start: 3;
    grid-column-end: 4;
    color: red;
    font-style: italic;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

tbody td:nth-child(2), tfoot {
    text-align: right;
}
body{
    width: 90%;
    margin: auto;
}

#toggle {
    display: none;
}

.toggle-border {
    border: 1px solid black;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-indicator {
    display: block;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease-in-out;
}

@media screen and (min-width: 540px) {
    .box.radio {
        display: inline-block;
    }
}
